body {
         
}

#main{
     margin-top:16px;
     margin-left:16px;
}

#billTable{
      width: 532px;
      text-align :center;
}

#billTable td{
      text-align :center;
}

#billTable th{
      text-align :center;
}


#storeBillTableView{
    margin-top:20px;
      display: none;
}

#loadingIcon{
      width: 532px;
      text-align :center;
}
